@using PismoWebInput.Core.Enums
@using PismoWebInput.Core.Infrastructure.Models.LecturerModel

@{
    ViewData["Title"] = "Lecturer Manager";
    var listItems = ViewData["Items"] as List<LecturerModel>;
}

<section class="w-100">
    <div class="row justify-content-sm-center">
        <div class="col-md-12 mb-3">
            <div class="card shadow-lg h-100">
                <div class="card-body p-5" style="height: calc(100vh - 110px); overflow: auto">
                    <table class="table align-middle mb-0 bg-white table table-bordered border-primary">
                        <thead class="bg-light text-center">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Birthday</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (listItems == null || listItems.Count == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">There are no data</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in listItems)
                                {
                                    <tr class="text-center">
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Birthday</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px">
                        <a type="button" class="btn btn-lg btn-secondary mx-3 d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index" style="width: 85px">
                            <i class="fa-solid fa-arrow-left"></i> Back
                        </a>
                        <a type="button" class="btn btn-lg btn-primary mx-3 d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="Lecturer" asp-action="Create" style="width: 85px">
                            <i class="fa-solid fa-save"></i> Add
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
